@import '~@angular/material/theming';

@mixin component-login-box-shadow($theme) {

  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  $nav-background-opacity: if($is-dark-theme, 0.2, 0.03);
  $nav-background-focus-opacity: if($is-dark-theme, 0.25, 0.08);

  app-login-form .container {
    background: lighten(mat-color($background, background), 5%);
  }
  .container__login-box-shadow {
    box-shadow: 0px 0px 15px 0px mat-color($primary);
    background: mat-color($background, background);
    color: mat-color($foreground, text);
    h1 {
      color: mat-color($foreground, text);
    }
  }

}