/* You can add global styles to this file, and also import other style files */
@import "./styles/custom-themes/deeppurple-amber.scss";
@import "./styles/custom-themes/indigo-pink.scss";
@import "./styles/custom-themes/pink-bluegrey.scss";
@import "./styles/custom-themes/purple-green.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

@include mat-core();

$custom-typography: mat-typography-config(
  $font-family: "Open Sans",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);

@include angular-material-typography($custom-typography);

