@import '~@angular/material/theming';
@include mat-core();

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;

  .login-box {
    box-sizing: border-box;
    padding: 20px;
    width: 400px;
    min-width: 400px;
    min-height: 400px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    mat-form-field, button {
      width: 100%;
      margin-top: 20px;
    }
  }
}
